<div class="content">
  <div class="container mt-3">
    <div class="row mt-1">
      <div class="col-lg-2 col-md-4 col-sm-5 left-main">
        <nav class="nav flex-column personal-nav">
          <a class="nav-link text-center" (click)="tab('profile')" href="javascript:void(0)">
            <fa name="laptop"></fa>资 料
          </a>
          <a class="nav-link text-center" (click)="tab('blog')" href="javascript:void(0)">
            <fa name="bookmark-o"></fa>博 客
          </a>
          <a class="nav-link text-center" (click)="tab('talk')" href="javascript:void(0)">
            <fa name="comments-o"></fa>话 题
          </a>
          <a class="nav-link text-center" (click)="tab('visitor')" href="javascript:void(0)">
            <fa name="blind"></fa>访 客
          </a>
        </nav>
      </div>

      <div class="col-lg-10 col-md-8 col-sm-7 right-main">
        <app-blog *ngIf="viewer == 'blog'"></app-blog>
        <app-talk *ngIf="viewer == 'talk'"></app-talk>
        <app-profile *ngIf="viewer == 'profile'"></app-profile>
        <app-visitor *ngIf="viewer == 'visitor'"></app-visitor>
      </div>
    </div>
  </div>
</div>
