.container {
  .left-main {
    .personal-nav a:hover {
      background: #DDD;
    }
    .user-name {
      background: #4169E1;
      color: #FFF;
    }
  }

  .right-main {
    height: 300px;
  }
}
