<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 jumbotron text-dark">
      <h3 class="h3 text-center">Fragment 通行证</h3>
      <hr class="my-4">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email" class="pointer">电子邮件<small>（此电子邮件将用于<a routerLink="/signin">登录</a>）</small></label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              id="email"
              name="email"
              placeholder="电子邮件"
            />
            <small
            *ngIf="signupForm.controls.email.invalid &&
              (signupForm.controls.email.dirty ||
              signupForm.controls.email.touched)"
              id="emailHelp"
              class="form-text text-muted"
            >
              <span class="color-tomato">{{emailValidText()}}</span>
            </small>
          </div>

          <div class="form-group">
            <label for="signup-password" class="pointer">设置密码</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              id="signup-password"
              name="password"
              placeholder="设置密码"
            />
            <small
            *ngIf="(signupForm.controls.password.invalid ||
              signupForm.controls.password.errors) &&
              (signupForm.controls.password.dirty ||
              signupForm.controls.password.touched)"
              id="passwordHelp"
              class="form-text text-muted"
            >
              <span class="color-tomato">{{validText('password', '密码格式不正确')}}</span>
            </small>
          </div>
          <div class="form-group">
            <label for="signup-password-re" class="pointer">确认密码</label>
            <input
              type="password"
              class="form-control"
              formControlName="passwordRe"
              id="signup-password-re"
              name="password-re"
              placeholder="确认密码"
            />
            <small
            *ngIf="signupForm.errors &&
              signupForm.errors.mismatch &&
              (signupForm.controls.passwordRe.dirty ||
              signupForm.controls.passwordRe.touched)"
              id="passwordReHelp"
              class="form-text text-muted"
            >
              <span class="color-tomato">密码输入不匹配</span>
            </small>
          </div>

          <div class="form-group">
            <label for="signup-nickname" class="pointer">你的昵称（<small>昵称对所有用户可见</small>）</label>
            <input
              type="password"
              class="form-control"
              formControlName="nickname"
              id="signup-nickname"
              name="nickname"
              placeholder="昵称"
            />
            <small
              *ngIf="signupForm.controls.nickname.invalid &&
              (signupForm.controls.nickname.dirty ||
              signupForm.controls.nickname.touched)"
              id="nicknameHelp"
              class="form-text text-muted"
            >
              <span class="color-tomato">{{validText('nickname', '昵称不能为空')}}</span>
            </small>
          </div>
          <div class="form-group">
            <label class="pointer">你的性别</label>
            <div class="col-lg-12">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  name="gender"
                  formControlName="gender"
                  type="radio"
                  id="gender-input1"
                  value="0"
                >
                <label class="form-check-label" for="gender-input1">女生</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  formControlName="gender"
                  id="gender-input2"
                  value="1"
                >
                <label class="form-check-label" for="gender-input2">男生</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  formControlName="gender"
                  id="gender-input3"
                  [checked]="true"
                  value="2"
                >
                <label class="form-check-label" for="gender-input3">我不说</label>
              </div>
            </div>
            <small
              *ngIf="signupForm.controls.gender.invalid &&
              (signupForm.controls.gender.dirty ||
              signupForm.controls.gender.touched)"
              id="genderHelp"
              class="form-text text-muted"
            >
              <span class="color-tomato">{{validText('gender', '请选择性别')}}</span>
            </small>
          </div>
          <div class="form-group">
            <div>
              <button type="submit" class="btn btn-primary w-50">
                提 交
              </button>
            </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>
