.content {
  margin:1rem;

  .jumbotron {
    background: #EEEEEE;
  }

  .ng-touched.ng-invalid:not(form)  {
    border-left: 5px solid #EE6A50; /* red */
  }
  .ng-valid:not(form)  {
    border-left: 5px solid #4169E1; /* green */
  }
}
