<div class="content">
  <div class="container">
    <div class="row mt-5 row-md-6 offset-md-1">
      <div class="col-md text-center p-2 step d-flex flex-row">
        <span class="radius step-box {{currentStep(1)}}">
          <strong>1</strong>
        </span>
        <span class="step-text pop-dark">注册电子邮箱</span>
      </div>
      <div class="col-md text-center p-2 step d-flex flex-row">
        <span class="radius step-box {{currentStep(2)}}">
          <strong>2</strong>
        </span>
        <span class="step-text pop-dark">填写基本信息</span>
      </div>
      <div class="col-md text-center p-2 step d-flex flex-row">
        <span class="radius step-box {{currentStep(3)}}">
          <strong>3</strong>
        </span>
        <span class="step-text pop-dark">完成注册</span>
      </div>
    </div>
    <hr class="my-4">

    <div class="row">
      <div class="col-md-7 offset-md-2">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
    </div>
  </div>
</div>
