.content {
    margin:1rem;

    .left-bar {
        .title {
            height: 2em;
            line-height: 2em;
            color: #333;
        }
    }

    .right-bar {
        padding: 1rem;
    }
}