/* You can add global styles to this file, and also import other style files */
@import url('bootstrap/dist/css/bootstrap.css');

.color-tomato {color: rgb(255,127,80);}
.sea-green {color: rgb(60,179,113);}
.pop-dark {color: #1A1A1A;}
.royal-color {background: rgb(65,105,225);color:#EEEEEE;}
.gainsboro-color {background: rgb(211,211,211);color:#696969;}

.refined-color {background:#EEE;}
.radius {border-radius:50%;}