.header {
    background: #1A1A1A;

    .logo:hover {
        color: rgb(99, 134, 230);
    }

    .dropdown-item {
      color: #333;
      font-size: .9rem;
    }

    .dropdown-item:hover {
        background: #B0C4DE;
        // color: #fff;
    }

    .menu-icon {
      width: 25px;
      height: 25px;
    }

    .avatar-image {
      @extend .menu-icon;
      background: #FFF;
    }
}
