.header {
    background: #1A1A1A;

    .logo:hover {
        color: rgb(99, 134, 230);
    }

    .dropdown-item:hover {
        background: rgb(46, 92, 216);
        color: #fff;
    }

    .avatar-image {
      width: 30px;
      height: 30px;
    }
}
