<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
<div class="header">
<div class="container">
<div class="row">

<nav class="navbar navbar-expand-lg navbar-dark col-lg-12">
  <a class="navbar-brand logo" routerLink="/"><b>Fragment</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navbar" aria-controls="header-navbar" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="header-navbar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">主页</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/talk">话题</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/wiki">wiki</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 col-md-offset-2" #header="ngForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input type="text"
            class="form-control"
            name="keyword"
            #keyword="ngModel"
            [(ngModel)]="model.keyword"
            placeholder="关键字..."
        >
        <div class="input-group-append">
          <button class="btn btn-secondary active" type="submit">查找</button>
        </div>
      </div>
    </form>
    <!-- 用户头像 -->
    <ul class="navbar-nav pl-md-2">
      <li class="nav-item dropdown"><!-- dropdown -| dropdown-toggle -->
        <a class="nav-link" href="javascript:void(0);" id="HeadernavbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img
            src="/assets/image/system/user.svg"
            class="rounded-circle avatar-image"
          />
        </a>
        <div
          class="dropdown-menu dropdown-menu-right shadow-sm p-1 mb-5 bg-white rounded"
          aria-labelledby="HeadernavbarDropdownMenuLink"
        >
          <!-- 登录后的选项 -->
          <span *ngIf="userService.isLogin()">
            <a class="dropdown-item" routerLink="/personal">
              <img
              src="/assets/image/system/home.svg"
              class="menu-icon pr-1"
              />个人主页
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/setting">
              <img
              src="/assets/image/system/setting.svg"
              class="menu-icon pr-1"
              />设置
            </a>
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              href="javascript:void(0)"
              (click)="signout()">
              <img
              src="/assets/image/system/signout.svg"
              class="menu-icon pr-1"
              />
              登出
            </a>
          </span>
          <!-- 未登录选项 -->
          <span *ngIf="userService.isNotLogin()">
            <a class="dropdown-item" routerLink="/signin">
              <img
              src="/assets/image/system/login.svg"
              class="menu-icon pr-1"
              />登录账户
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/signup">
              <img
              src="/assets/image/system/add.svg"
              class="menu-icon pr-1"
              />入住小站
            </a>
          </span>
        </div>
      </li>
    </ul>
  </div>
</nav>

</div>
</div>
</div>
