<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
<div class="header">
<div class="container">
<div class="row">

<nav class="navbar navbar-expand-lg navbar-dark col-lg-12">
  <a class="navbar-brand logo" routerLink="/"><b>Fragment</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navbar" aria-controls="header-navbar" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="header-navbar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">主页</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/talk">话题</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/wiki">wiki</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="HeadernavbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          用户
        </a>
        <div class="dropdown-menu" aria-labelledby="HeadernavbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/personal">个人主页</a>
          <a class="dropdown-item" routerLink="/setting">设置</a>
          <a class="dropdown-item" routerLink="/signup">登录</a>
          <a class="dropdown-item" href="#">登出</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 col-md-offset-2" #header="ngForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input type="text"
            class="form-control"
            name="keyword"
            #keyword="ngModel"
            [(ngModel)]="model.keyword"
            placeholder="Search..."
        >
        <div class="input-group-append">
          <button class="btn btn-secondary active" type="submit">search</button>
        </div>
      </div>
    </form>
  </div>
</nav>

</div>
</div>
</div>
